@import url('https://fonts.cdnfonts.com/css/sweet-candy');
@import url('https://fonts.cdnfonts.com/css/modist');
@import url('https://fonts.cdnfonts.com/css/christmas-warmth');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    letter-spacing: 2px;
}

.logo {
    font-family: 'Christmas Warmth', sans-serif;
    font-size: 24px;
}

.container {
    width: 90%;
    max-width: 960px;
    margin: 80px auto;
    border-radius: 20px;
    border: 1px solid;
}

.error {
    color: #ff3f80;
    font-size: 14px;
}

