@import url('https://fonts.cdnfonts.com/css/sweet-candy');
@import url('https://fonts.cdnfonts.com/css/modist');
@import url('https://fonts.cdnfonts.com/css/christmas-warmth');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    letter-spacing: 2px;
}

.logo {
    font-family: 'Christmas Warmth', sans-serif;
    font-size: 24px;
}
